<div class="p-6 h-auto w-[58vw] max-w-none text-gray-800">
	<h2 class="mb-4 text-2xl text-center font-semibold text-green-700">Detalles del cierre</h2>

	<div class="overflow-x-auto h-full border border-green-300 shadow-md rounded-lg">
		<table class="w-full text-sm table-auto">
			<colgroup>
				<col>
				<col>
				<col>
				<col>
			</colgroup>
			<thead class="bg-green-100 text-green-800 uppercase text-xs font-semibold">
				<tr class="text-left">
					<th class="p-3">Fuente</th>
					<th class="p-3">Monto</th>
					<th class="p-3">Efectivo</th>
					<th class="p-3">Débito</th>
					<th class="p-3">Crédito</th>
					<th class="p-3">Transferencia</th>
					<th class="p-3">Cheque</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-green-200 bg-white">
				<tr *ngFor="let item of detailsCurrent.detalle" class="hover:bg-green-50">
          			<!--si la condicion es true, se muestra el primero y sino el segundo-->
					<td class="p-3 text-left whitespace-nowrap">{{ item.fuente === 'pagos_mensuales' ? 'Pagos mensuales:' : 'Caja diaria:' }}</td>
          			<td class="p-3 text-left whitespace-nowrap">$ {{ item.monto }}</td>

					<!--aca pongo solo los td, si la fuente es caja diaria-->
					<td class="p-3 text-left whitespace-nowrap">{{ item.fuente === 'caja' ? detailsCurrent.totales.efectivo : '-' }} </td>
					<td class="p-3 text-left whitespace-nowrap">{{ item.fuente === 'caja' ? detailsCurrent.totales.debito : '-' }} </td>
					<td class="p-3 text-left whitespace-nowrap">{{ item.fuente === 'caja' ? detailsCurrent.totales.credito : '-' }} </td>
					<td class="p-3 text-left whitespace-nowrap">{{ item.fuente === 'caja' ? detailsCurrent.totales.transferencia : '-' }} </td>
					<td class="p-3 text-left whitespace-nowrap">{{ item.fuente === 'caja' ? detailsCurrent.totales.cheque : '-' }} </td>
					
				</tr>
			</tbody>
		</table>
	</div>
</div>
