<div class="p-10 mx-auto w-full max-w-xl text-gray-800">
	<h2 class="mb-4 text-2xl text-center font-semibold text-green-700">Detalles del cierre</h2>

	<div class="overflow-x-auto rounded-lg border border-green-300 shadow-md">
		<table class="w-full text-sm table-auto">
			<colgroup>
				<col>
				<col>
				<col>
				<col>
			</colgroup>
			<thead class="bg-green-100 text-green-800 uppercase text-xs font-semibold">
				<tr class="text-left">
					<th class="p-3 text-left">Fuente</th>
					<th class="p-3 text-left">Monto</th>
				</tr>
			</thead>
			<tbody class="divide-y divide-green-200 bg-white">
				<tr *ngFor="let item of detailsCurrent" class="hover:bg-green-50">
          <!--si la condicion es true, se muestra el primero y sino el segundo-->
					<td class="p-3 text-left whitespace-nowrap">{{ item.fuente === 'pagos_mensuales' ? 'Pagos mensuales:' : 'Caja diaria:' }}</td>
          <td class="p-3 text-left whitespace-nowrap">$ {{ item.monto }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
