<div class="flex h-screen flex-col justify-between border-e border-gray-100 bg-white xs:w-full xs:h-auto xs:border-0">
  <div class="px-6 py-10 xs:px-4 xs:pt-6 flex flex-col h-full">
    <div class="mb-5 mt-2 mx-auto w-[120px] rounded-xl border-2 border-gray-300 shadow-md xs:w-[100px]">
      <img src="../../../assets/images/centro24.webp" alt="Logo" class="w-full" />
    </div>

    <ul class="space-y-2 rounded-xl xs:space-y-1 flex-grow">
      <li *ngFor="let seccion of seccionesDisponibles">
        <a [routerLink]="seccion.nombre === 'Home' ? '' : seccion.nombre.toLowerCase()" routerLinkActive="active-link"
          [routerLinkActiveOptions]="seccion.nombre === 'Home' ? { exact: true } : { exact: false }"
          class="flex items-center text-lg gap-2 px-4 py-2 font-medium text-gray-900 transition-all duration-200 ease-in-out rounded-lg xs:text-lg xs:px-3 xs:py-1.5 hover:bg-green-100 hover:text-green-700 hover:shadow-md hover:scale-[1.02]">
          <i [ngClass]="seccion.icono" class="p-2"></i>
          <p>{{ seccion.nombre }}</p>
        </a>
      </li>
    </ul>

    <div class="mt-auto">
      <button (click)="cerrarSesion()"
        class="flex w-full items-center gap-2 px-4 py-2 text-xl font-medium text-gray-900 transition-all duration-200 ease-in-out rounded-lg hover:bg-red-100 hover:text-red-600 hover:shadow-md hover:scale-[1.02] xs:text-lg xs:px-3 xs:py-1.5">
        <i class="fa-solid fa-right-to-bracket p-2"></i>
        <p class="text-sm">Cerrar sesión</p>
      </button>
    </div>
  </div>

  <div
    class="flex items-center gap-3 p-4 hover:bg-gray-50 xs:p-3 xs:gap-2 border-t-2 border-gray-300 xs:relative xs:bg-transparent xs:border-0">
    <i class="fa-solid fa-circle-user text-4xl mr-3 text-slate-600"></i>
    <!-- contenedor que limita el ancho -->
    <div class="leading-tight flex-1 min-w-0">
      <p class="font-medium text-lg xs:text-base truncate">{{ nameUserCurrent }}</p>
    </div>
  </div>

</div>