<div class="relative flex flex-col w-[75vw] h-[95vh] text-slate-700 bg-white shadow-2xl rounded-2xl bg-clip-border">
    <!-- SI ESTA CARGANDO MUESTRA EL ESTADO DE CARGA -->
    <ng-container *ngIf="isLoading; else matTab">
      <div class="flex justify-center items-center h-full">
        <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-green-600 border-solid"></div>
      </div>
    </ng-container>
    <!-- SINO MUESTRA LAS LISTAS CLIENTES/PAGOS -->
    <ng-template #matTab>
      <mat-tab-group (selectedTabChange)="detectChanges()" class="flex flex-col h-full">
        <mat-tab label="Clientes" class="flex flex-col h-full">
          <app-listaClientes [clientsOfMonth]="clientsOfMonth" (loadClientsMonthly)="loadClientsMonthly()"
            class="flex-1"></app-listaClientes>
        </mat-tab>
        <mat-tab label="Pagos" class="flex flex-col h-full">
          <app-listaPagos [clientes]="clientsOfMonth" (loadClientsMonthly)="loadClientsMonthly()"
            class="flex-1"></app-listaPagos>
        </mat-tab>
      </mat-tab-group>
    </ng-template>

  </div>