<div class="mt-10 w-full">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10 justify-items-center">
    <app-card class="w-60 h-48" [titulo]="'Recaudación mes anterior'" [valor]="'250.000'" icon="fa-solid fa-money-bills"></app-card>
    <app-card class="w-60 h-48" [titulo]="'Recaudación mes actual'" [valor]="'$150.600'" icon="fa-solid fa-money-bills"></app-card>
    <app-card class="w-60 h-48" [titulo]="'Clientes mensuales'" [valor]="'120'" icon="fa-solid fa-users-rectangle"></app-card>
    <app-card class="w-60 h-48" [titulo]="'Nuevos clientes'" [valor]="'250'" icon="fa-solid fa-user-plus"></app-card>
    <app-card class="w-60 h-48" [titulo]="'Cantidad de usuarios'" [valor]="'11'" icon="fa-solid fa-circle-user"></app-card>
    <app-card class="w-60 h-48" [titulo]="'Recaudación del dia de ayer'" [valor]="'$150.000'" icon="fa-solid fa-money-bill"></app-card>
  </div>
</div>
