<div
    class="mx-auto m-auto w-[75vw] h-[95vh] overflow-y-auto p-4 sm:p-6 lg:p-20 border shadow-2xl rounded-2xl bg-white">

    <div class="flex justify-between mb-6 sm:mb-10 gap-4 sm:gap-0">
        <div>
            <h1 class="text-xl sm:text-2xl font-bold">Gestión de usuarios</h1>
            <h2 class="text-base sm:text-xl font-semibold">Administra usuarios y sus permisos de acceso</h2>
        </div>
        <div class="flex-shrink-0">
            <button (click)="nuevoUsuario()"
                class="w-full sm:w-40 bg-zinc-800 border-zinc-800 border rounded p-3 text-white hover:text-zinc-800 hover:bg-white transition">+
                Nuevo Usuario
            </button>
        </div>
    </div>
    
    <div *ngIf="cargando; else usuariosTemplate"
        class="w-full border h-56 rounded-lg p-4 flex justify-center items-center my-2">
        <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-green-600 border-solid"></div>
    </div>

    <ng-template #usuariosTemplate>
        <div *ngIf="usuarios.length > 0; else noUsuarios">
            <div class="gap-3">
                <app-usuarioCard *ngFor="let usuario of usuarios" [usuario]="usuario"></app-usuarioCard>
            </div>
        </div>
        <ng-template #noUsuarios>
            <p class="text-center text-gray-500 mt-4">No hay usuarios para mostrar.</p>
        </ng-template>
    </ng-template>
</div>