<div class="flex w-[30vw] h-[70vh] m-auto flex-col justify-center rounded border-2 shadow-xl px-6 py-12">
    <div class="flex flex-col items-center">
        <div class="w-16 h-16 mb-3 rounded bg-indigo-600 flex items-center justify-center">
            <i class="fa-solid fa-sliders text-2xl text-white"></i>
        </div>
        <h2 class="text-2xl font-bold text-gray-900 text-center">Sistema de Gestión</h2>
        <p class="text-base text-gray-700 text-center">Ingresa tus credenciales para acceder al sistema</p>
    </div>

    <div class="w-full max-w-sm mx-auto">
        <form class="space-y-6" action="#" method="POST">
            <div>
                <label for="email" class="block text-sm font-medium text-gray-900">Usuario</label>
                <div class="mt-2">
                    <input type="email" name="email" id="email" autocomplete="email" required
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600">
                </div>
            </div>

            <div>
                <label for="password" class="block text-sm font-medium text-gray-900">Contraseña</label>
                <div class="mt-2">
                    <input type="password" name="password" id="password" autocomplete="current-password" required
                        class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600">
                </div>
            </div>

            <div>
                <button type="submit"
                    class="w-full rounded-md bg-zinc-700 px-3 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-zinc-900">Iniciar
                    Sesión</button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            ¿No tenés cuenta?
            <a [routerLink]="['/registrarse']" class="font-semibold text-indigo-600 hover:text-indigo-500">Registrarse</a>
        </p>
    </div>
</div>