<div class="flex w-[35rem] max-w-4xl mx-auto md:h-max">

  <form [formGroup]="registerForm" (ngSubmit)="crearUsuario()"
    class="container flex flex-col w-full h-full p-6 bg-zinc-100 rounded-2xl shadow-sm">

    <!-- Header -->
    <div class="flex justify-center items-center gap-2 mb-6 flex-shrink-0">
      <div class="w-10 h-10 rounded-xl bg-emerald-500 flex items-center justify-center shadow-md">
        <i class="fa-solid fa-plus text-white"></i>
      </div>
      <h6 class="text-lg font-bold text-gray-900">Agregar usuario</h6>
    </div>

    <div class="flex flex-col gap-6">
      <div>
        <label for="username" class="block text-sm font-medium text-gray-900">Usuario</label>
        <div class="mt-2">
          <input type="text" name="username" id="username" formControlName="username" autocomplete="username" required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600">
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-900">Contraseña</label>
        <div class="mt-2">
          <input type="password" name="password" id="password" formControlName="password"
            autocomplete="current-password" required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600">
        </div>
      </div>

      <div>
        <label for="confirmPassword" class="block text-sm font-medium text-gray-900">Repetir contraseña</label>
        <div class="mt-2">
          <input type="password" name="confirmPassword" formControlName="confirmPassword" id="confirmPassword" required
            class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:outline-indigo-600">
        </div>
      </div>

      <p class="mt-5 font-bold text-xl">Permisos</p>
      <div class="space-y-2">
        <div class="flex items-center justify-between" *ngFor="let rol of roles">
          <label for="{{rol.nombre}}">Gestión de {{rol.nombre}}</label>
          <mat-slide-toggle id="{{rol.nombre}}" (change)="onTogglePermiso(rol)" [disabled]="cargando">
          </mat-slide-toggle>
        </div>
      </div>

      <div *ngIf="registerError" class="text-red-600 text-sm font-medium">
        {{ registerError }}
      </div>

      <!-- Botón + Spinner -->
      <div class="relative">
        <button type="submit" [disabled]="cargando"
          class="w-full py-2.5 rounded-xl text-white font-semibold text-sm shadow-md transition bg-emerald-500 hover:bg-emerald-600">
          Agregar Usuario
        </button>

        <!-- Spinner cargando -->
        <div *ngIf="cargando" class="absolute top-1/2 right-4 transform -translate-y-1/2">
          <div class="w-5 h-5 border-4 border-t-transparent border-white rounded-full animate-spin"></div>
        </div>
      </div>
    </div>
  </form>
</div>