<div class="p-0 overflow-y-auto h-[75vh] border border-gray-200 rounded">
  <table class="w-full text-left table-auto min-w-max border-collapse">
    <thead>
      <tr>
        <th class="sticky top-0 bg-slate-50 z-10 p-4 border-b border-slate-300 transition-colors cursor-pointer hover:bg-slate-100">
          <p class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
            Cliente
          </p>
        </th>
        <th class="sticky top-0 bg-slate-50 z-10 p-4 border-b border-slate-300 transition-colors cursor-pointer hover:bg-slate-100">
          <p class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
            Fecha de Pago
          </p>
        </th>
        <th class="sticky top-0 bg-slate-50 z-10 p-4 border-b border-slate-300 transition-colors cursor-pointer hover:bg-slate-100">
          <p class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
            Monto
          </p>
        </th>
        <th class="sticky top-0 bg-slate-50 z-10 p-4 border-b border-slate-300 transition-colors cursor-pointer hover:bg-slate-100">
          <p class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
            Periodo (Desde - Hasta)
          </p>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="listaPagos.length > 0">
      <tr *ngFor="let pago of listaPagos">
        <td class="p-4 border-b border-slate-200">
          <p class="text-sm text-slate-500">{{ pago.cliente }}</p>
        </td>
        <td class="p-4 border-b border-slate-200">
          <p class="text-sm text-slate-500">{{ pago.fecha_pago | date }}</p>
        </td>
        <td class="p-4 border-b border-slate-200">
          <p class="text-sm text-slate-500">$ {{ pago.monto | number:'1.2-2' }}</p>
        </td>
        <td class="p-4 border-b border-slate-200">
          <p class="text-sm text-slate-500">{{ pago.periodo_desde | date:'MMMM yyyy' }} - {{ pago.periodo_hasta | date:'MMMM yyyy' }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
