<div
  class="relative flex flex-col w-[75vw] h-[95vh] text-slate-700 bg-white shadow-2xl rounded-2xl overflow-hidden bg-clip-border">
  <!-- Header -->
  <div class="grid grid-cols-3 items-center w-full p-4 text-slate-700 bg-white bg-clip-border">
    <!-- Título -->
    <div class="flex flex-col space-y-1 justify-start">
      <div>
        <h3 class="text-lg font-semibold text-slate-800">
          <i class="fa-solid fa-bag-shopping"></i> Productos
        </h3>
        <p class="text-slate-500">Lista de productos</p>
      </div>
    </div>

    <!-- Filtro general y Toggle Switch en la misma línea -->
    <div class="flex flex-col items-center w-full space-y-2">

      <!-- Filtro general -->
      <div class="flex-grow max-w-md mx-auto w-full">
        <div class="flex items-center border rounded px-3">
          <i class="fa fa-search text-gray-500 mr-2"></i>
          <input type="text" class="flex-1 h-9 outline-none py-1 bg-transparent text-sm"
            placeholder="ID, Descripción o Categoría" [(ngModel)]="filtroTexto" (keyup)="detectChanges()" />
        </div>
      </div>

      <!-- Toggle Switch -->
      <div class="flex items-center space-x-3 pb-1">
        <span class="text-sm font-medium text-gray-700" [class.font-bold]="!mostrarSoloStock">Todos</span>
        <mat-slide-toggle [checked]="mostrarSoloStock" (change)="toggleFiltroStock($event.checked)" color="primary"
          class="transition-all duration-200">
        </mat-slide-toggle>
        <span class="text-sm font-medium text-gray-700" [class.font-bold]="mostrarSoloStock">Mi Stock</span>
      </div>
    </div>
    <!-- Botones -->
    <div class="flex justify-end gap-8">
      <div class="flex flex-col gap-4">

        <!-- Agregar producto -->
        <button *ngIf="esAdmin()" (click)="abrirFormularioAgregar()"
          class="flex items-center justify-center gap-1 rounded py-3 text-xs font-bold text-white w-36 bg-emerald-500 hover:bg-emerald-600 transition-all duration-200 ease-in-out"
          type="button">
          <i class="fa-solid fa-bag-shopping"></i>
          Agregar producto
        </button>

      </div>

      <div class="flex flex-col gap-4">
        <!-- Actualizar productos (componente) -->
        <app-cargaProductos (cargaIniciada)="onCargaIniciada()" (cargaFinalizada)="onCargaCompleta()">
        </app-cargaProductos>
        <!-- Logs -->
        <button *ngIf="esAdmin()" (click)="abrirLogs()"
          class="flex items-center justify-center gap-1 rounded py-3 text-xs font-bold text-white w-36 bg-blue-500 hover:bg-blue-600 transition-all duration-200 ease-in-out"
          type="button" title="Ver registros del sistema">
          <i class="fa-solid fa-file-lines"></i>
          Registros
        </button>
      </div>
    </div>

  </div>

  <!-- SI ESTA cargandoProductoProducto MUESTRA EL ESTADO DE CARGA -->
  <ng-container *ngIf="cargandoProducto else tablaProductos">
    <div class="flex justify-center items-center h-96">
      <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-green-600 border-solid"></div>
    </div>
  </ng-container>

  <!-- TABLA -->
  <ng-template #tablaProductos>
    <div class="flex-1 border border-slate-200 rounded-lg mt-4 mb-4 mx-4 overflow-hidden">
      <div class="overflow-y-auto" style="height: calc(100%);">
        <table class="w-full text-center table-fixed min-w-max">
          <!-- Header -->
          <thead class="bg-slate-50 sticky top-0 z-10">
            <tr>
              <th class="p-4 w-28 transition-colors cursor-pointer border-y border-slate-200 hover:bg-slate-100">
                <p class="font-sans text-sm font-normal leading-none text-slate-500">
                  ID
                </p>
              </th>

              <th *ngIf="esAdmin()"
                class="p-4 w-32 transition-colors cursor-pointer border-y border-slate-200 hover:bg-slate-100">
                <p class="font-sans text-sm font-normal leading-none text-slate-500">
                  Precio Costo
                </p>
              </th>

              <th *ngIf="esAdmin()"
                class="p-4 w-32 transition-colors cursor-pointer border-y border-slate-200 hover:bg-slate-100">
                <p class="font-sans text-sm font-normal leading-none text-slate-500">
                  Ganancia (%)
                </p>
              </th>

              <th class="p-4 w-32 transition-colors cursor-pointer border-y border-slate-200 hover:bg-slate-100">
                <p class="font-sans text-sm font-normal leading-none text-slate-500">
                  Precio Venta
                </p>
              </th>

              <th class="p-4 w-40 transition-colors cursor-pointer border-y border-slate-200 hover:bg-slate-100">
                <p class="font-sans text-sm font-normal leading-none text-slate-500">
                  Descripción
                </p>
              </th>

              <th class="p-4 w-24 transition-colors cursor-pointer border-y border-slate-200 hover:bg-slate-100">
                <p class="font-sans text-sm font-normal leading-none text-slate-500">
                  Stock
                </p>
              </th>

              <th class="p-4 w-32 transition-colors cursor-pointer border-y border-slate-200 hover:bg-slate-100">
                <p class="font-sans text-sm font-normal leading-none text-slate-500">
                  Categoría
                </p>
              </th>

              <th class="p-4 w-28 transition-colors cursor-pointer border-y border-slate-200 hover:bg-slate-100" *ngIf="esAdmin()">
                <p class="font-sans text-sm font-normal leading-none text-slate-500">
                  Acciones
                </p>
              </th>
            </tr>
          </thead>

          <!-- Cuerpo de la tabla -->
          <tbody *ngIf="productos.length > 0">
            <tr *ngFor="let producto of productos | filtroProductos:filtroTexto:mostrarSoloStock"
              class="hover:bg-slate-50">
              <td class="p-4 w-28 border-b border-slate-200">
                <p class="text-sm text-slate-500 font-semibold">
                  {{ producto.id }}
                </p>
              </td>

              <td *ngIf="esAdmin()" class="p-4 w-32 border-b border-slate-200">
                <p class="text-sm text-slate-500 font-semibold">
                  ${{ producto.precio_costo }}
                </p>
              </td>

              <td *ngIf="esAdmin()" class="p-4 w-32 border-b border-slate-200">
                <p class="text-sm text-slate-500 font-semibold">
                  {{ producto.ganancia }}%
                </p>
              </td>

              <td class="p-4 w-32 border-b border-slate-200">
                <p class="text-sm text-slate-500 font-semibold">
                  ${{ producto.precio_venta }}
                </p>
              </td>

              <td class="p-4 w-40 border-b border-slate-200" matTooltip="{{ producto.descripcion }}">
                <p class="text-sm text-slate-500 font-semibold truncate">
                  {{ producto.descripcion }}
                </p>
              </td>

              <td class="p-4 w-24 border-b border-slate-200">
                <p class="text-sm text-slate-500 font-semibold">
                  {{ producto.stock }}
                </p>
              </td>

              <td class="p-4 w-32 border-b border-slate-200" matTooltip="{{ producto.categoria }}">
                <p class="text-sm text-slate-500 font-semibold truncate">
                  {{ producto.categoria }}
                </p>
              </td>

              <td class="p-4 w-28 border-b border-slate-200" *ngIf="esAdmin()">
                <div class="flex gap-2 justify-center">
                  <button (click)="editarProducto(producto)" class="text-slate-500 hover:text-blue-600" title="Editar">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                  <button (click)="confirmarEliminar(producto)" class="text-slate-500 hover:text-red-600"
                    title="Eliminar">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-template>

</div>


<!-- Cartel de confirmacion cuando se elimina un producto -->
<app-confirmar-delete [mostrar]="mostrarConfirmacion" [producto]="productoAEliminar" [cargando]="cargandoProducto"
  (confirmar)="eliminarProducto()" (cancelar)="cancelarEliminar()">
</app-confirmar-delete>