<div class="flex w-full max-w-4xl mx-auto md:h-max">
  <form *ngIf="!cargando" [formGroup]="form" (ngSubmit)="onSubmit()"
    class="container flex flex-col w-full h-full p-6 bg-zinc-100 rounded-2xl shadow-sm">
    <!-- Header -->
    <div class="flex justify-center items-center gap-2 mb-6 flex-shrink-0">
      <div class="w-10 h-10 rounded-xl flex items-center justify-center shadow-md"
        [class]="accion=='editar' ? 'bg-amber-500' : 'bg-emerald-500'">
        <i class="fa-solid fa-plus text-white"></i>
      </div>
      <h6 class="text-lg font-bold text-gray-900">{{ accion=='editar' ? 'Editar cliente' : 'Agregar cliente' }}</h6>
    </div>


    <div class="flex flex-col gap-6">
      <!-- ID -->
      <div class="flex flex-col gap-2">
        <p class="font-semibold text-gray-800">Cliente</p>
        <input type="text" id="cliente" formControlName="cliente" name="cliente" required class="w-full rounded-xl bg-white px-3 py-2 text-base text-gray-900 border border-gray-300 
                   placeholder:text-gray-400 shadow-inner
                   focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 transition" />
      </div>

      <!-- Tipo de cliente -->
      <div class="flex flex-col gap-2">
        <p class="font-semibold text-slate-700 text-sm">Seleccionar tipo de cliente</p>
        <mat-radio-group formControlName="tipo" class="flex gap-4 mt-1">
          <mat-radio-button value="Mensual"
            class="rounded-md px-3 py-1.5 text-sm text-gray-900 focus:outline-none focus:ring focus:ring-indigo-500">
            Mensual
          </mat-radio-button>
          <mat-radio-button value="Semestral"
            class="rounded-md px-3 py-1.5 text-sm text-gray-900 focus:outline-none focus:ring focus:ring-indigo-500">
            Semestral
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Monto mensual -->
      <div class="flex flex-col gap-2">
        <p class="font-semibold text-slate-700 text-sm">Monto mensual</p>
        <div class="flex items-center gap-1">
          <i class="fa-solid fa-dollar-sign text-slate-600"></i>
          <input type="number" formControlName="monto" step="0.1" placeholder="0.0" class="w-full rounded-lg bg-slate-50 px-3 py-2 text-sm text-slate-700 border border-slate-300 
          placeholder:text-slate-400 shadow-inner
          focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-blue-400 transition" />
        </div>
      </div>
    </div>

    <!-- Botón abajo -->
    <div class="mt-6">
      <button
        [class]="accion == 'editar' ? 'bg-amber-500 hover:bg-amber-600' : 'bg-emerald-500 hover:bg-emerald-600'"
        class="w-full py-2.5 rounded-xl text-white font-semibold text-sm shadow-md transition">
        {{ accion == 'editar' ? 'Editar cliente' : 'Agregar cliente' }}
      </button>
    </div>
  </form>
</div>