<div class="p-0 overflow-y-scroll h-full">
      <table class="w-full mt-4 text-left table-auto min-w-max">
        <thead>
          <tr>
            <th
              class="p-4 w-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                Tipo
              </p>
            </th>
            <th
              class="p-4 w-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                Num de cliente
              </p>
            </th>
            <th
              class="p-4 w-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                Cliente
              </p>
            </th>
            <th
              class="p-4 w-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                Mensual
              </p>
            </th>
            <th
              class="p-4 w-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                Bonificacion
              </p>
            </th>
            <th
              class="p-2 w-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                Monto
              </p>
            </th>
            <th
              class="p-2 w-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
              <p
                class="flex items-center justify-between gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                Pago
              </p>
            </th>
            <th
              class="p-2 w-5 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100">
              <p
                class="flex justify-center items-center gap-2 font-sans text-sm font-normal leading-none text-slate-500">
                Modificar
              </p>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="clientsOfMonth.length > 0">
          <tr *ngFor="let client of clientsOfMonth">
            <td class="p-4 w-4 border-b border-slate-200">
              <p class="text-sm text-slate-500">{{ client.tipo }}</p>
            </td>
            <td class="p-4 w-6 border-b border-slate-200">
              <p class="text-sm text-slate-500">{{ client.id_client }}</p>
            </td>
            <td class="p-4 w-6 border-b border-slate-200">
              <p class="text-sm text-slate-500">{{ client.cliente }}</p>
            </td>
            <td class="p-4 w-4 border-b border-slate-200">
              <p class="text-sm text-slate-500">{{ client.mensual }}</p>
            </td>
            <td class="p-4 w-4 border-b border-slate-200">
              <p class="text-sm text-slate-500">{{ client.bonificacion }}</p>
            </td>
            <td class="p-4 w-4 border-b border-slate-200">
              <p class="text-sm text-slate-500">{{ client.monto }}</p>
            </td>
            <td class="p-4 w-4 border-b border-slate-200">
              <p class="text-sm text-slate-500">{{ client.periodo_hasta | date: 'yyyy-MM' }}</p>
            </td>
            <td class="p-2 border-b border-slate-200">
              <div class="flex gap-2 justify-center">
                <button (click)="updateClient(client)" class="text-slate-500 hover:text-blue-600" title="Editar">
                  <i class="fa-solid fa-pencil"></i>
                </button>
                <button (click)="deleteClient(client)" class="text-slate-500 hover:text-red-600" title="Eliminar">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>