<div class="w-full relative">
  <label for="clienteInput" class="block text-sm font-medium text-gray-700">
    Buscar cliente
  </label>
  <input id="clienteInput" type="text" [(ngModel)]="busqueda" (input)="filtrarClientes()"
    (focus)="mostrarOpciones = true" (blur)="ocultarOpciones()" placeholder="Escribí un nombre..."
    class="w-full border border-gray-300 rounded-lg px-3 py-2 focus:ring-2 focus:ring-blue-500 focus:outline-none" />

  <!-- Opciones -->
  <div *ngIf="mostrarOpciones && clientesFiltrados.length > 0"
    class="absolute mt-1 w-full bg-white border border-gray-300 rounded-lg shadow-lg z-10 max-h-60 overflow-y-auto">
    <div *ngFor="let cliente of clientesFiltrados" (mousedown)="seleccionarCliente(cliente)"
      class="px-3 py-2 hover:bg-gray-100 cursor-pointer">
      <div class="font-semibold text-sm text-black">
        #{{ cliente.id_client }} - {{ cliente.cliente }}
      </div>
      <div class="text-xs text-gray-500">
        {{ cliente.mensual }} - ${{ cliente.monto }}/mes
      </div>
    </div>
  </div>
</div>