<div class="w-full border rounded-lg p-4 my-2 min-h-[14rem] content-center">

  <ng-container *ngIf="cargandoCardUsuario; else contenido">
    <div class="flex justify-center items-center min-h-full">
      <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-green-600 border-solid"></div>
    </div>
  </ng-container>

  <ng-template #contenido>

    <div class="flex flex-col sm:flex-row sm:justify-between text-center p-2 gap-2">
      <div class="flex justify-center sm:justify-start items-center text-center">
        <i class="fa-solid fa-circle-user text-4xl mr-3 text-green-600"></i>
        <p class="text-xl font-bold text-center m-0">{{usuario.nombre}}</p>
      </div>

      <div class="flex justify-center sm:justify-end px-2">
        <button title="Eliminar" (click)="eliminarUsuario()" class="pointer hover:scale-105">
          <i class="fa-solid fa-trash text-xl text-red-500"></i>
        </button>
      </div>
    </div>

    <h1 class="font-semibold mt-4 mb-2">Permisos de acceso</h1>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <div *ngFor="let rol of roles" class="flex items-center border justify-between p-3 rounded" style="margin: 0;">
        <div class="pr-6">
          <label [for]="rol.nombre">{{ rol.nombre }}</label>
          <p class="text-zinc-600 text-sm">Gestión de {{ rol.nombre }}</p>
        </div>
        <mat-slide-toggle [id]="rol.nombre" [checked]="esRolAsignado(rol)"
          (change)="onTogglePermiso(rol, $event.checked)">
        </mat-slide-toggle>
      </div>
    </div>

  </ng-template>

</div>