<article class="group m-2 w-72 ml-10 mt-10 flex flex-col rounded-lg border border-gray-100 bg-white p-4">
  <section class="p-4 dark:bg-gray-100 dark:text-gray-800">
    <div class="container mx-auto grid justify-center grid-cols-2 text-center lg:grid-cols-3 gap-2">
      <div class="flex flex-col justify-start m-2">
        <p class="text-2xl font-bold leading-none lg:text-4xl">50+</p>
        <p class="text-xs sm:text-sm">Clients</p>
      </div>
      <div class="flex flex-col justify-start m-2">
        <p class="text-2xl font-bold leading-none lg:text-4xl">89K</p>
        <p class="text-xs sm:text-sm">Followers</p>
      </div>
      <div class="flex flex-col justify-start m-2">
        <p class="text-2xl font-bold leading-none lg:text-4xl">3</p>
        <p class="text-xs sm:text-sm">Books</p>
      </div>
      <div class="flex flex-col justify-start m-2">
        <p class="text-2xl font-bold leading-none lg:text-4xl">8</p>
        <p class="text-xs sm:text-sm">TED talks</p>
      </div>
      <div class="flex flex-col justify-start m-2">
        <p class="text-2xl font-bold leading-none lg:text-4xl">22</p>
        <p class="text-xs sm:text-sm">Years</p>
      </div>
      <div class="flex flex-col justify-start m-2">
        <p class="text-2xl font-bold leading-none lg:text-4xl">10+</p>
        <p class="text-xs sm:text-sm">Workshops</p>
      </div>
    </div>
  </section>
</article>
