<article class="group m-3 w-96 ml-20 mt-16 flex flex-col rounded-lg border border-gray-100 bg-white p-6 dark:border-gray-800 dark:bg-gray-900">
  <img 
    alt=""
    src="../../../assets/images/centro2.webp"
    class="w-full h-full rounded-xl object-cover border-gray-400 shadow-xl "
  />

  <div class="p-4">
    <a href="#">
      <h3 class="text-2xl justify-center font-medium text-gray-900">¿Quienes somos?</h3>
    </a>

    <p class="mt-2 line-clamp-7 text-sm/relaxed text-gray-500">
      Lorem ipsum dolor sit amet,  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos ratione ipsa  Lorem ipsum dolor sit amet consectetur adipisicing nemo possimus, cum illo sit deleniti aperiam fuga 
    </p>
  </div>
</article>